// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.creation {
    position: fixed;
    bottom: 10%;
    right: 15%;
    z-index: 999;
}

.post-wrapper {
    position: relative;
}

.post-menu {
    position: absolute;
    top: 5%;
    right: 5%;
}

a.post-link {
    display: block;
}

.icon-lg {
    font-size: 1.5rem;
}

.post-list {
    cursor: pointer;
}